In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("business_case").getOrCreate()

In [14]:
import pyspark 
from pyspark import SparkContext
import os
import sys
os.environ['PYSPARK_DRIVER_PYTHON_OPTS']='notebook'
os.environ['PYSPARK_DRIVER_PYTHON']=sys.executable
os.environ['PYSPARK_PYTHON']=sys.executable

In [15]:
#To create dataset from external dataset
AirlineDF = spark.read.option("header","true").csv(r"C:\Users\91976\Downloads\data\airlines1.csv")

In [16]:
AirlineDF.show()

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|            null|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|            null|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|            null|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|            null|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|            null|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|

In [17]:
#for all columns
AirlineDF.columns

['_c0',
 'Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'DOT_ID_Reporting_Airline',
 'IATA_CODE_Reporting_Airline',
 'Tail_Number',
 'Flight_Number_Reporting_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum']

In [18]:
AirlineTimeInfo = AirlineDF.select("_c0","Year","Quarter", "Month", "DayofMonth", "DayofWeek" , "FlightDate" )
AirlineInfo = AirlineDF.select("_c0","Reporting_Airline","DOT_ID_Reporting_Airline", "IATA_CODE_Reporting_Airline", "Tail_Number", "Flight_Number_Reporting_Airline" )
AirlineOriginInfo = AirlineDF.select("_c0","OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", "OriginWac" )
AirlineDestinationInfo = AirlineDF.select("_c0","DestAirportID","DestAirportSeqID", "DestCityMarketID", "Dest", "DestCityName" , "DestState", "DestStateFips", "DestStateName", "DestWac" )
AirlineDepartureInfo = AirlineDF.select("_c0","CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff" )
AirlineArrivalInfo = AirlineDF.select("_c0","WheelsOn","TaxiIn", "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", "ArrivalDelayGroups", "ArrTimeBlk" )
AirlineCanDivInfo = AirlineDF.select("_c0","Cancelled","CancellationCode", "Diverted" )
AirlineSummry = AirlineDF.select("_c0","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", "Distance" , "DistanceGroup" )
AirlineDelayInfo = AirlineDF.select("_c0","CarrierDelay","WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay" )

In [19]:
AirlineTimeInfo.show()

+---+----+-------+-----+----------+---------+----------+
|_c0|Year|Quarter|Month|DayofMonth|DayofWeek|FlightDate|
+---+----+-------+-----+----------+---------+----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|
|  1|2009|      2|    5|        28|        4|2009-05-28|
|  2|2013|      2|    6|        29|        6|2013-06-29|
|  3|2010|      3|    8|        31|        2|2010-08-31|
|  4|2006|      1|    1|        15|        7|2006-01-15|
|  5|1995|      4|   11|        29|        3|1995-11-29|
|  6|2006|      3|    8|         7|        1|2006-08-07|
|  7|2019|      2|    6|        11|        2|2019-06-11|
|  8|2008|      3|    8|         3|        7|2008-08-03|
|  9|2018|      1|    2|         8|        4|2018-02-08|
| 10|1991|      4|   11|        21|        4|1991-11-21|
| 11|2014|      2|    4|         3|        4|2014-04-03|
| 12|1994|      3|    7|        24|        7|1994-07-24|
| 13|2013|      2|    6|        30|        7|2013-06-30|
| 14|2003|      4|   11|        21|        5|2003-11-21|
| 15|1988|      2|    4|         4|        1|1988-04-04|
| 16|2007|      3|    9|         5|        3|2007-09-05|
| 17|2015|      3|    9|         5|        6|2015-09-05|
| 18|2006|      1|    1|        28|        6|2006-01-28|
| 19|2017|      3|    7|        26|        3|2017-07-26|
+---+----+-------+-----+----------+---------+----------+
only showing top 20 rows

In [20]:
#to select total no. of flights
AirlineTimeInfo.select("_c0").count()

50001

In [22]:
#to select year from 2000 and 2020
AirlineTimeInfo.select('Year','FlightDate').filter((AirlineTimeInfo.Year >= 2015) & (AirlineTimeInfo.Year <= 2020)).show()

+----+----------+
|Year|FlightDate|
+----+----------+
|2019|2019-06-11|
|2018|2018-02-08|
|2015|2015-09-05|
|2017|2017-07-26|
|2020|2020-03-24|
|2019|2019-09-02|
|2019|2019-03-27|
|2016|2016-03-09|
|2018|2018-06-25|
|2015|2015-03-12|
|2017|2017-05-05|
|2017|2017-03-10|
|2019|2019-02-13|
|2015|2015-03-17|
|2016|2016-05-25|
|2016|2016-05-04|
|2016|2016-08-12|
|2017|2017-03-09|
|2016|2016-06-13|
|2019|2019-05-08|
+----+----------+
only showing top 20 rows

In [24]:
#group data by reporting airport name
AirlineInfo.select("Reporting_Airline").groupBy("Reporting_Airline").count().show()

+-----------------+-----+
|Reporting_Airline|count|
+-----------------+-----+
|               UA| 4830|
|               EA|  237|
|               PI|  238|
|               NK|  213|
|               PS|   16|
|               AA| 5834|
|               NW| 2792|
|               EV| 1749|
|               B6|  905|
|               HP|  899|
|               TW|  949|
|               DL| 6691|
|               OO| 2719|
|               F9|  372|
|               YV|  562|
|               TZ|   54|
|               US| 4230|
|               MQ| 2015|
|               OH|  607|
|               HA|  304|
+-----------------+-----+
only showing top 20 rows

In [26]:
CarrierDF=spark.read.option("header","true").csv(r"C:\Users\91976\Downloads\data\carriers.csv")
CarrierDF.show()

+----+--------------------+
|Code|         Description|
+----+--------------------+
| 02Q|       Titan Airways|
| 04Q|  Tradewind Aviation|
| 05Q| Comlux Aviation, AG|
| 06Q|Master Top Linhas...|
| 07Q| Flair Airlines Ltd.|
| 09Q|      Swift Air, LLC|
| 0BQ|                 DCA|
| 0CQ|ACM AIR CHARTER GmbH|
| 0FQ|Maine Aviation Ai...|
| 0GQ|Inter Island Airw...|
| 0HQ|Polar Airlines de...|
|  0J|          JetClub AG|
| 0JQ|     Vision Airlines|
| 0KQ|Mokulele Flight S...|
| 0LQ|   Metropix UK, LLP.|
| 0MQ|Multi-Aero, Inc. ...|
|  0Q| Flying Service N.V.|
|  16|   PSA Airlines Inc.|
|  17|   Piedmont Airlines|
|  1I|Sky Trek Int'l Ai...|
+----+--------------------+
only showing top 20 rows

In [27]:
#To find airline with 15 min deaprture delay or more than 15 min
AirlineDepartureInfo.select('_c0','DepDelayMinutes').filter('DepDelayMinutes >= 15').show()

+---+---------------+
|_c0|DepDelayMinutes|
+---+---------------+
|  0|           19.0|
|  4|           51.0|
|  7|          221.0|
|  9|           16.0|
| 23|           52.0|
| 44|           38.0|
| 45|          129.0|
| 49|           25.0|
| 50|           32.0|
| 60|           21.0|
| 65|          215.0|
| 74|           39.0|
| 80|           30.0|
| 82|           84.0|
| 97|           37.0|
|102|           24.0|
|103|           16.0|
|104|           18.0|
|107|          116.0|
|114|           33.0|
+---+---------------+
only showing top 20 rows

In [28]:
# calculate total no of departure delay flights (15 min or more than 15 min delay)
AirlineDepartureInfo.select('DepDelayMinutes').filter("DepDelayMinutes >= 15").count()

8438

In [29]:
#find flights 15 min or more than 15 min delay Arrive
AirlineArrivalInfo.select('_c0','ArrDelayMinutes').filter("ArrDelayMinutes >= 15").show()

+---+---------------+
|_c0|ArrDelayMinutes|
+---+---------------+
|  0|           23.0|
|  4|           32.0|
|  7|          214.0|
|  9|           29.0|
| 23|           44.0|
| 24|           17.0|
| 29|           39.0|
| 41|           84.0|
| 44|           22.0|
| 45|          119.0|
| 47|           18.0|
| 49|           19.0|
| 50|           35.0|
| 55|           24.0|
| 60|           21.0|
| 65|          221.0|
| 74|           26.0|
| 77|           22.0|
| 82|           89.0|
| 90|           16.0|
+---+---------------+
only showing top 20 rows

In [30]:
#calculate total no of Arrival delay flights (15 min or more than 15 min delay)
AirlineArrivalInfo.select('ArrDelayMinutes').filter("ArrDelayMinutes >= 15").count()

9775

In [31]:
#calculate total number of cancelled flights
AirlineCanDivInfo.select('Cancelled').filter("Cancelled  == 1").count()

878

In [32]:
#calculate total number of diverted flights
AirlineCanDivInfo.select('Diverted').filter("Diverted  == 1").count()

133

In [33]:
#calculate total no of CarrierDelay
AirlineDelayInfo.select('CarrierDelay').filter("CarrierDelay > 0").count()

2663

In [34]:
#calculate total no of WeatherDelay
AirlineDelayInfo.select('WeatherDelay').filter("WeatherDelay > 0").count()

360

In [35]:
#calculate total no of NASDelay
AirlineDelayInfo.select('NASDelay').filter("NASDelay > 0").show()

+--------+
|NASDelay|
+--------+
|    13.0|
|     7.0|
|     3.0|
|    24.0|
|     6.0|
|     5.0|
|    16.0|
|     3.0|
|    17.0|
|    16.0|
|    19.0|
|    13.0|
|    57.0|
|     3.0|
|    15.0|
|     6.0|
|    59.0|
|    61.0|
|    19.0|
|    17.0|
+--------+
only showing top 20 rows

# Joins

In [36]:
# to join two dataframe AirlineTimeInfo and AirlineInfo
AirlineTimeInfo.join(AirlineInfo, AirlineTimeInfo._c0 == AirlineInfo._c0).show(2)

+---+----+-------+-----+----------+---------+----------+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|_c0|Year|Quarter|Month|DayofMonth|DayofWeek|FlightDate|_c0|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|
+---+----+-------+-----+----------+---------+----------+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|  0|1998|      1|    1|         2|        5|1998-01-02|  0|               NW|                   19386|                         NW|     N297US|                            675|
|  1|2009|      2|    5|        28|        4|2009-05-28|  1|               FL|                   20437|                         FL|     N946AT|                            671|
+---+----+-------+-----+----------+---------+----------+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
only showing top 2 rows

In [37]:
# join three dataframe
AirlineTimeInfo.join(AirlineInfo,["_c0"]).join(AirlineCanDivInfo,AirlineTimeInfo["_c0"] == AirlineCanDivInfo["_c0"]).show(2)

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---+---------+----------------+--------+
|_c0|Year|Quarter|Month|DayofMonth|DayofWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|_c0|Cancelled|CancellationCode|Diverted|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---+---------+----------------+--------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|  0|      0.0|            null|     0.0|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|  1|      0.0|            null|     0.0|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---+---------+----------------+--------+
only showing top 2 rows

In [38]:
#join two dataframe query
DelayDF1 = AirlineTimeInfo.select('_c0','Year').filter((AirlineTimeInfo.Year >= 2000) & (AirlineTimeInfo.Year <= 2020)) \
.join(AirlineInfo.select('_c0','Reporting_Airline').groupBy('Reporting_Airline').count() \
      ,AirlineTimeInfo._c0 ==  AirlineInfo._c0,"inner").withColumnRenamed("count", "Total Flights")
DelayDF1.show()

+---+----+-----------------+-------------+
|_c0|Year|Reporting_Airline|Total Flights|
+---+----+-----------------+-------------+
|  1|2009|               UA|         4830|
|  1|2009|               EA|          237|
|  1|2009|               PI|          238|
|  1|2009|               NK|          213|
|  1|2009|               PS|           16|
|  1|2009|               AA|         5834|
|  1|2009|               NW|         2792|
|  1|2009|               EV|         1749|
|  1|2009|               B6|          905|
|  1|2009|               HP|          899|
|  1|2009|               TW|          949|
|  1|2009|               DL|         6691|
|  1|2009|               OO|         2719|
|  1|2009|               F9|          372|
|  1|2009|               YV|          562|
|  1|2009|               TZ|           54|
|  1|2009|               US|         4230|
|  1|2009|               MQ|         2015|
|  1|2009|               OH|          607|
|  1|2009|               HA|          304|
+---+----+-----------------+-------------+
only showing top 20 rows

# Create Dataframe

In [39]:
AirlineDF5 = AirlineDF.select("_c0","Year","Quarter", "Month", "DayofMonth", "DayofWeek" , \
                              "FlightDate","Reporting_Airline","DOT_ID_Reporting_Airline", \
                              "IATA_CODE_Reporting_Airline", "Tail_Number", "Flight_Number_Reporting_Airline", \
                              "OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", \
                              "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", \
                              "OriginWac","DestAirportID","DestAirportSeqID", "DestCityMarketID", \
                              "Dest", "DestCityName" , "DestState", "DestStateFips", "DestStateName", \
                              "DestWac","CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , \
                              "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff","WheelsOn","TaxiIn", \
                              "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", \
                              "ArrivalDelayGroups", "ArrTimeBlk","Cancelled","CancellationCode", \
                              "Diverted","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", \
                              "Distance" , "DistanceGroup","CarrierDelay","WeatherDelay", "NASDelay", \
                              "SecurityDelay", "LateAircraftDelay" )

In [42]:
#group by carrier and count number of flights in each group
AirlineDF5.select('Year','Reporting_Airline').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).groupBy('Reporting_Airline').count().show()

+-----------------+-----+
|Reporting_Airline|count|
+-----------------+-----+
|               UA| 2706|
|               NK|  213|
|               AA| 3620|
|               NW| 1202|
|               EV| 1749|
|               B6|  905|
|               HP|  299|
|               TW|  123|
|               DL| 3938|
|               OO| 2719|
|               F9|  372|
|               YV|  562|
|               TZ|   54|
|               US| 1810|
|               MQ| 2015|
|               OH|  607|
|               HA|  304|
|               XE|  871|
|               G4|   55|
|               YX|  206|
+-----------------+-----+
only showing top 20 rows

In [43]:
AirlineDF5.select('Year','Reporting_Airline').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter("Cancelled  == 1").groupBy('Reporting_Airline').count().show()

+-----------------+-----+
|Reporting_Airline|count|
+-----------------+-----+
|               UA|   52|
|               NK|    3|
|               AA|   70|
|               NW|   20|
|               EV|   32|
|               B6|   12|
|               HP|    5|
|               TW|    3|
|               DL|   54|
|               OO|   58|
|               F9|    1|
|               YV|   18|
|               US|   35|
|               MQ|   82|
|               OH|   14|
|               XE|   22|
|               YX|    6|
|               AS|   11|
|               CO|   12|
|               WN|   66|
+-----------------+-----+
only showing top 20 rows

In [44]:
# calculate total no of flights and  group data by Carrier
df1 = AirlineDF5.select('Year','Reporting_Airline') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Flights").orderBy("Reporting_Airline")
df1.show()

+-----------------+-------------+
|Reporting_Airline|Total Flights|
+-----------------+-------------+
|               9E|          518|
|               AA|         3620|
|               AS|          889|
|               B6|          905|
|               CO|          909|
|               DH|          168|
|               DL|         3938|
|               EV|         1749|
|               F9|          372|
|               FL|          622|
|               G4|           55|
|               HA|          304|
|               HP|          299|
|               KH|           42|
|               MQ|         2015|
|               NK|          213|
|               NW|         1202|
|               OH|          607|
|               OO|         2719|
|               TW|          123|
+-----------------+-------------+
only showing top 20 rows

In [45]:
#Calculate total no of Departure delay flights
df2 = AirlineDF5.select('Reporting_Airline','DepDelayMinutes') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("DepDelayMinutes >= 10").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Departure Delay Flights").orderBy("Reporting_Airline")
df2.show()

+-----------------+-----------------------------+
|Reporting_Airline|Total Departure Delay Flights|
+-----------------+-----------------------------+
|               9E|                           96|
|               AA|                          780|
|               AS|                          166|
|               B6|                          224|
|               CO|                          180|
|               DH|                           44|
|               DL|                          728|
|               EV|                          453|
|               F9|                           87|
|               FL|                          147|
|               G4|                           15|
|               HA|                           25|
|               HP|                           63|
|               KH|                            5|
|               MQ|                          445|
|               NK|                           50|
|               NW|                          225|
|               OH|                          137|
|               OO|                          546|
|               TW|                           21|
+-----------------+-----------------------------+
only showing top 20 rows

In [47]:
# calculate total no. of arrival delay flights
df3 = AirlineDF5.select('Reporting_Airline','ArrDelayMinutes') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("ArrDelayMinutes >= 10").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Arrival Delay Flights").orderBy("Reporting_Airline")
df3.show()

+-----------------+---------------------------+
|Reporting_Airline|Total Arrival Delay Flights|
+-----------------+---------------------------+
|               9E|                        106|
|               AA|                        891|
|               AS|                        198|
|               B6|                        235|
|               CO|                        240|
|               DH|                         50|
|               DL|                        831|
|               EV|                        485|
|               F9|                        110|
|               FL|                        161|
|               G4|                         16|
|               HA|                         39|
|               HP|                         87|
|               KH|                          6|
|               MQ|                        527|
|               NK|                         58|
|               NW|                        321|
|               OH|                        171|
|               OO|                        622|
|               TW|                         30|
+-----------------+---------------------------+
only showing top 20 rows

In [48]:
#calculate total no. of cancelled flights
df4 = AirlineDF5.select('Reporting_Airline','Cancelled') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("Cancelled  == 1").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Cancelled Flights").orderBy("Reporting_Airline")
df4.show()

+-----------------+-----------------------+
|Reporting_Airline|Total Cancelled Flights|
+-----------------+-----------------------+
|               9E|                     13|
|               AA|                     70|
|               AS|                     11|
|               B6|                     12|
|               CO|                     12|
|               DH|                      6|
|               DL|                     54|
|               EV|                     32|
|               F9|                      1|
|               FL|                      3|
|               HP|                      5|
|               MQ|                     82|
|               NK|                      3|
|               NW|                     20|
|               OH|                     14|
|               OO|                     58|
|               TW|                      3|
|               UA|                     52|
|               US|                     35|
|               VX|                      1|
+-----------------+-----------------------+
only showing top 20 rows

In [49]:
# calculate total no. of diverted flights
df5 = AirlineDF5.select('Reporting_Airline','Diverted') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("Diverted  == 1").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Diverted Flights").orderBy("Reporting_Airline")
df5.show()

+-----------------+----------------------+
|Reporting_Airline|Total Diverted Flights|
+-----------------+----------------------+
|               AA|                     5|
|               AS|                     5|
|               B6|                     3|
|               CO|                     1|
|               DH|                     1|
|               DL|                     8|
|               EV|                    11|
|               FL|                     4|
|               G4|                     1|
|               MQ|                    10|
|               NW|                     4|
|               OH|                     1|
|               OO|                    10|
|               UA|                     7|
|               US|                     2|
|               VX|                     1|
|               WN|                    11|
|               XE|                     2|
|               YV|                     3|
+-----------------+----------------------+

In [50]:
# calculate total no. of carrier delay flights
df6 = AirlineDF5.select('Reporting_Airline','CarrierDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("CarrierDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total CarrierDelay Flights").orderBy("Reporting_Airline")
df6.show()

+-----------------+--------------------------+
|Reporting_Airline|Total CarrierDelay Flights|
+-----------------+--------------------------+
|               9E|                        33|
|               AA|                       277|
|               AS|                        40|
|               B6|                       125|
|               CO|                        49|
|               DH|                        13|
|               DL|                       243|
|               EV|                       206|
|               F9|                        36|
|               FL|                        32|
|               G4|                         8|
|               HA|                        18|
|               HP|                        14|
|               MQ|                       146|
|               NK|                        17|
|               NW|                        73|
|               OH|                        59|
|               OO|                       197|
|               TZ|                         1|
|               UA|                       213|
+-----------------+--------------------------+
only showing top 20 rows

In [51]:
# calculate total no. of weather delay flights
df7 = AirlineDF5.select('Reporting_Airline','WeatherDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("WeatherDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total WeatherDelay Flights").orderBy("Reporting_Airline")
df7.show()

+-----------------+--------------------------+
|Reporting_Airline|Total WeatherDelay Flights|
+-----------------+--------------------------+
|               9E|                         5|
|               AA|                        64|
|               AS|                         2|
|               B6|                         8|
|               CO|                        12|
|               DH|                         2|
|               DL|                        28|
|               EV|                        30|
|               F9|                         3|
|               FL|                         1|
|               G4|                         4|
|               HA|                         2|
|               MQ|                        43|
|               NK|                         2|
|               NW|                        15|
|               OH|                        24|
|               OO|                        23|
|               UA|                        19|
|               US|                        13|
|               VX|                         3|
+-----------------+--------------------------+
only showing top 20 rows

In [52]:
#calculate total no. of NAS delay flights
df8 = AirlineDF5.select('Reporting_Airline','NASDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("NASDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total NASDelay Flights").orderBy("Reporting_Airline")
df8.show()

+-----------------+----------------------+
|Reporting_Airline|Total NASDelay Flights|
+-----------------+----------------------+
|               9E|                    54|
|               AA|                   356|
|               AS|                    68|
|               B6|                   134|
|               CO|                   103|
|               DH|                    20|
|               DL|                   327|
|               EV|                   227|
|               F9|                    57|
|               FL|                    77|
|               G4|                     3|
|               HP|                    15|
|               MQ|                   235|
|               NK|                    44|
|               NW|                    97|
|               OH|                    84|
|               OO|                   219|
|               TZ|                     5|
|               UA|                   276|
|               US|                   174|
+-----------------+----------------------+
only showing top 20 rows

In [53]:
#calculate total no. of security delay flights
df9 = AirlineDF5.select('Reporting_Airline','SecurityDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("SecurityDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total SecurityDelay Flights").orderBy("Reporting_Airline")
df9.show()

+-----------------+---------------------------+
|Reporting_Airline|Total SecurityDelay Flights|
+-----------------+---------------------------+
|               AA|                          1|
|               AS|                          1|
|               B6|                          1|
|               DL|                          1|
|               NW|                          2|
|               OO|                          1|
|               TZ|                          1|
|               US|                          2|
|               VX|                          1|
|               WN|                          7|
|               XE|                          2|
|               YV|                          1|
+-----------------+---------------------------+

In [54]:
# calculate total no. of late aircraft delay flights
df10 = AirlineDF5.select('Reporting_Airline','LateAircraftDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("LateAircraftDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total LateAircraftDelay Flights").orderBy("Reporting_Airline")
df10.show()

+-----------------+-------------------------------+
|Reporting_Airline|Total LateAircraftDelay Flights|
+-----------------+-------------------------------+
|               9E|                             35|
|               AA|                            286|
|               AS|                             43|
|               B6|                            111|
|               CO|                             37|
|               DH|                             16|
|               DL|                            214|
|               EV|                            178|
|               F9|                             43|
|               FL|                             64|
|               G4|                              8|
|               HA|                              9|
|               HP|                              6|
|               KH|                              3|
|               MQ|                            205|
|               NK|                             11|
|               NW|                             47|
|               OH|                             35|
|               OO|                            256|
|               TZ|                              2|
+-----------------+-------------------------------+
only showing top 20 rows

In [55]:
df1.join(df2,df1.Reporting_Airline ==  df2.Reporting_Airline,"inner").show(2)

+-----------------+-------------+-----------------+-----------------------------+
|Reporting_Airline|Total Flights|Reporting_Airline|Total Departure Delay Flights|
+-----------------+-------------+-----------------+-----------------------------+
|               UA|         2706|               UA|                          620|
|               NK|          213|               NK|                           50|
+-----------------+-------------+-----------------+-----------------------------+
only showing top 2 rows

In [56]:
df1.join(df2,["Reporting_Airline"]).join(df3,df1["Reporting_Airline"] == df3["Reporting_Airline"]).show(2)

+-----------------+-------------+-----------------------------+-----------------+---------------------------+
|Reporting_Airline|Total Flights|Total Departure Delay Flights|Reporting_Airline|Total Arrival Delay Flights|
+-----------------+-------------+-----------------------------+-----------------+---------------------------+
|               UA|         2706|                          620|               UA|                        723|
|               NK|          213|                           50|               NK|                         58|
+-----------------+-------------+-----------------------------+-----------------+---------------------------+
only showing top 2 rows

In [57]:
# joining multiple dataframe
DelayReport = df1.alias("df1").join(df2.alias("df2"),["Reporting_Airline"]).join(df3.alias("df3"),["Reporting_Airline"])\
.join(df4.alias("df4"),["Reporting_Airline"]).join(df5.alias("df5"),["Reporting_Airline"]).join(df6.alias("df6"),["Reporting_Airline"])\
.join(df7.alias("df7"),["Reporting_Airline"]).join(df8.alias("df8"),["Reporting_Airline"]).join(df9.alias("df9"),["Reporting_Airline"])\
.join(df10.alias("df10"),["Reporting_Airline"])
DelayReport.show()

+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+
|Reporting_Airline|Total Flights|Total Departure Delay Flights|Total Arrival Delay Flights|Total Cancelled Flights|Total Diverted Flights|Total CarrierDelay Flights|Total WeatherDelay Flights|Total NASDelay Flights|Total SecurityDelay Flights|Total LateAircraftDelay Flights|
+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+
|               AA|         3620|                          780|                        891|                     70|                     5|                       277|                        64|                   356|                          1|                            286|
|               NW|         1202|                          225|                        321|                     20|                     4|                        73|                        15|                    97|                          2|                             47|
|               B6|          905|                          224|                        235|                     12|                     3|                       125|                         8|                   134|                          1|                            111|
|               DL|         3938|                          728|                        831|                     54|                     8|                       243|                        28|                   327|                          1|                            214|
|               OO|         2719|                          546|                        622|                     58|                    10|                       197|                        23|                   219|                          1|                            256|
|               YV|          562|                          142|                        156|                     18|                     3|                        61|                         7|                    44|                          1|                             38|
|               US|         1810|                          351|                        444|                     35|                     2|                       134|                        13|                   174|                          2|                            101|
|               XE|          871|                          165|                        221|                     22|                     2|                        55|                        10|                   130|                          2|                             55|
|               AS|          889|                          166|                        198|                     11|                     5|                        40|                         2|                    68|                          1|                             43|
|               VX|          101|                           23|                         28|                      1|                     1|                         6|                         3|                    12|                          1|                              8|
|               WN|         5847|                         1633|                       1438|                     66|                    11|                       593|                        37|                   416|                          7|                            663|
+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+

In [58]:
# import windows library
import pyspark.sql.functions as f
from pyspark.sql.window import Window

In [59]:
# calculate result in percentage
df123 = DelayReport\
.withColumn('depdelaypercent', f.col('Total Departure Delay Flights')/f.col('Total Flights')*100)\
.withColumn('arrdelaypercent', f.col('Total Arrival Delay Flights')/f.col('Total Flights')*100)\
.withColumn('cancelledpercent', f.col('Total Cancelled Flights')/f.col('Total Flights')*100)
df123.show()

+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+------------------+------------------+------------------+
|Reporting_Airline|Total Flights|Total Departure Delay Flights|Total Arrival Delay Flights|Total Cancelled Flights|Total Diverted Flights|Total CarrierDelay Flights|Total WeatherDelay Flights|Total NASDelay Flights|Total SecurityDelay Flights|Total LateAircraftDelay Flights|   depdelaypercent|   arrdelaypercent|  cancelledpercent|
+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+------------------+------------------+------------------+
|               AA|         3620|                          780|                        891|                     70|                     5|                       277|                        64|                   356|                          1|                            286| 21.54696132596685|24.613259668508285|1.9337016574585635|
|               NW|         1202|                          225|                        321|                     20|                     4|                        73|                        15|                    97|                          2|                             47|18.718801996672212| 26.70549084858569|1.6638935108153077|
|               B6|          905|                          224|                        235|                     12|                     3|                       125|                         8|                   134|                          1|                            111|24.751381215469614| 25.96685082872928|1.3259668508287292|
|               DL|         3938|                          728|                        831|                     54|                     8|                       243|                        28|                   327|                          1|                            214|18.486541391569325|21.102082275266632|1.3712544438801422|
|               OO|         2719|                          546|                        622|                     58|                    10|                       197|                        23|                   219|                          1|                            256|20.080912100036777|22.876057374034573|  2.13313718278779|
|               YV|          562|                          142|                        156|                     18|                     3|                        61|                         7|                    44|                          1|                             38| 25.26690391459075| 27.75800711743772| 3.202846975088968|
|               US|         1810|                          351|                        444|                     35|                     2|                       134|                        13|                   174|                          2|                            101|19.392265193370164| 24.53038674033149|1.9337016574585635|
|               XE|          871|                          165|                        221|                     22|                     2|                        55|                        10|                   130|                          2|                             55| 18.94374282433984| 25.37313432835821| 2.525832376578645|
|               AS|          889|                          166|                        198|                     11|                     5|                        40|                         2|                    68|                          1|                             43|18.672665916760405|22.272215973003377|1.2373453318335208|
|               VX|          101|                           23|                         28|                      1|                     1|                         6|                         3|                    12|                          1|                              8|22.772277227722775|27.722772277227726|0.9900990099009901|
|               WN|         5847|                         1633|                       1438|                     66|                    11|                       593|                        37|                   416|                          7|                            663| 27.92885240294168|24.593808790832906|1.1287839917906617|
+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+------------------+------------------+------------------+

In [60]:
DelayReport.groupBy().max('Total Departure Delay Flights').show()

+----------------------------------+
|max(Total Departure Delay Flights)|
+----------------------------------+
|                              1633|
+----------------------------------+

In [61]:
df123.select('Reporting_Airline','Total Flights','depdelaypercent','arrdelaypercent','cancelledpercent').show()

+-----------------+-------------+------------------+------------------+------------------+
|Reporting_Airline|Total Flights|   depdelaypercent|   arrdelaypercent|  cancelledpercent|
+-----------------+-------------+------------------+------------------+------------------+
|               AA|         3620| 21.54696132596685|24.613259668508285|1.9337016574585635|
|               NW|         1202|18.718801996672212| 26.70549084858569|1.6638935108153077|
|               B6|          905|24.751381215469614| 25.96685082872928|1.3259668508287292|
|               DL|         3938|18.486541391569325|21.102082275266632|1.3712544438801422|
|               OO|         2719|20.080912100036777|22.876057374034573|  2.13313718278779|
|               YV|          562| 25.26690391459075| 27.75800711743772| 3.202846975088968|
|               US|         1810|19.392265193370164| 24.53038674033149|1.9337016574585635|
|               XE|          871| 18.94374282433984| 25.37313432835821| 2.525832376578645|
|               AS|          889|18.672665916760405|22.272215973003377|1.2373453318335208|
|               VX|          101|22.772277227722775|27.722772277227726|0.9900990099009901|
|               WN|         5847| 27.92885240294168|24.593808790832906|1.1287839917906617|
+-----------------+-------------+------------------+------------------+------------------+

In [62]:
#use dense rank for find top rankers by any cloumns
from pyspark.sql import Window
import pyspark.sql.functions as psf
wT_Flights = Window.orderBy(psf.desc("Total Flights")) 
testdf1 = DelayReport.withColumn(
    "Total Flights_rank", 
    psf.dense_rank().over(wT_Flights)
)

In [63]:
# top 10 Carrier by numbers of flights
testdf1.show()
testdf1.columns
testdf1.select('Reporting_Airline','Total Flights','Total Flights_rank').show()

+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+------------------+
|Reporting_Airline|Total Flights|Total Departure Delay Flights|Total Arrival Delay Flights|Total Cancelled Flights|Total Diverted Flights|Total CarrierDelay Flights|Total WeatherDelay Flights|Total NASDelay Flights|Total SecurityDelay Flights|Total LateAircraftDelay Flights|Total Flights_rank|
+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+------------------+
|               WN|         5847|                         1633|                       1438|                     66|                    11|                       593|                        37|                   416|                          7|                            663|                 1|
|               DL|         3938|                          728|                        831|                     54|                     8|                       243|                        28|                   327|                          1|                            214|                 2|
|               AA|         3620|                          780|                        891|                     70|                     5|                       277|                        64|                   356|                          1|                            286|                 3|
|               OO|         2719|                          546|                        622|                     58|                    10|                       197|                        23|                   219|                          1|                            256|                 4|
|               US|         1810|                          351|                        444|                     35|                     2|                       134|                        13|                   174|                          2|                            101|                 5|
|               NW|         1202|                          225|                        321|                     20|                     4|                        73|                        15|                    97|                          2|                             47|                 6|
|               B6|          905|                          224|                        235|                     12|                     3|                       125|                         8|                   134|                          1|                            111|                 7|
|               AS|          889|                          166|                        198|                     11|                     5|                        40|                         2|                    68|                          1|                             43|                 8|
|               XE|          871|                          165|                        221|                     22|                     2|                        55|                        10|                   130|                          2|                             55|                 9|
|               YV|          562|                          142|                        156|                     18|                     3|                        61|                         7|                    44|                          1|                             38|                10|
|               VX|          101|                           23|                         28|                      1|                     1|                         6|                         3|                    12|                          1|                              8|                11|
+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+------------------+

+-----------------+-------------+------------------+
|Reporting_Airline|Total Flights|Total Flights_rank|
+-----------------+-------------+------------------+
|               WN|         5847|                 1|
|               DL|         3938|                 2|
|               AA|         3620|                 3|
|               OO|         2719|                 4|
|               US|         1810|                 5|
|               NW|         1202|                 6|
|               B6|          905|                 7|
|               AS|          889|                 8|
|               XE|          871|                 9|
|               YV|          562|                10|
|               VX|          101|                11|
+-----------------+-------------+------------------+